.emptyInfoBox {
    border: 3px black solid;
    height: 85vh;
    min-width: 60%;
    margin-right: 30px;

    border-radius: 10px;
    box-shadow: 5px 8px grey;
}

.infoBox {
    border: 3px black solid;
    height: 85vh;
    min-width: 60%;
    margin-right: 30px;

    border-radius: 10px;
    box-shadow: 5px 8px grey;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 117px;
}

.erezName {
    text-align: center;
    border-bottom: 2px black solid;
}

.info {
    text-align: end;
    padding-top: 35px;
    padding-right: 20px;
}