.emptyInfoBox {
    border: 3px black solid;
    height: 85vh;
    width: 125vh;
}

.infoBox {
    border: 3px black solid;
    height: 85vh;
    width: 125vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 117px;
}

.erezName {
    text-align: center;
    border-bottom: 2px black solid;
}

.info {
    text-align: end;
    padding-top: 35px;
    padding-right: 20px;
}