.listContainer {
    width: 100%;
    max-height: 85vh;
    border: 3px black solid;
    overflow: auto;

    border-radius: 10px;
    box-shadow: 5px 8px grey;
}

/* ::-webkit-scrollbar {
    border-radius: 10px;
} */

.list {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.listHeader {
    height: 6vh;
    background-color: pink;
}

.listItem {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    padding: 5px 10px;
    background-color: #eeeeee;
    border: 1px solid #DDDDDD !important;
    height: 8vh;
    width: 100%;
    /* transition-duration: 0.3s; */
}
/* .listItem:hover {
    background-color: #e7e0e0;
} */

.statusContainer {
    display: "flex"; 
    align-items: "baseline";
}

.status {
    border-radius: 9999px;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 4px;
}
.status[data-status="0"] {
    background-color: #a31616;
}
.status[data-status="1"] {
    background-color: #16a34a;
}