.emptyInfoBox {
    height: 85vh;
    min-width: 60%;
    margin-right: 30px;
    display: none;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoBox {
    height: 85vh;
    min-width: 60%;
    margin-right: 30px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 117px;
}

.erezName {
    text-align: center;
    border-bottom: 2px lightgray solid;
}

.info {
    text-align: end;
    padding-top: 35px;
    padding-right: 20px;
}